body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #faf9ff;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-size: large;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text-mobile {
  text-align: center;
  position: absolute;
  font-size: large;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.h1 {
  font-size: 1.5em;
}
